In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
data = pd.read_csv('datasets/food-bank/live1.csv')
# print(data.head())
# print(data.dtypes)

null_values = data.isnull()
null_count = null_values.sum()
total_values = data.count()
print(null_count)

percent_null = data['Value'].isnull().sum() / data['Value'].count() * 100
print(percent_null)

Area          0
Item          0
Element       0
Year          0
Unit          0
Value      2264
dtype: int64
1.883621478609581

In [27]:
dataframe_cleaned = data.dropna()
# print(dataframe_cleaned)
print(data[823:843])
print(dataframe_cleaned[790:810])

        Area                    Item Element  Year       Unit   Value
823  Albania                   Ducks  Stocks  2004  1000 Head   527.0
824  Albania                   Ducks  Stocks  2005  1000 Head   528.0
825  Albania                   Ducks  Stocks  2006  1000 Head   500.0
826  Albania                   Ducks  Stocks  2007  1000 Head   800.0
827  Albania                   Ducks  Stocks  2008  1000 Head  1000.0
828  Albania                   Ducks  Stocks  2009  1000 Head  1100.0
829  Albania                   Ducks  Stocks  2010  1000 Head  1100.0
830  Albania                   Ducks  Stocks  2011  1000 Head  1000.0
873  Albania  Geese and guinea fowls  Stocks  1994  1000 Head   240.0
874  Albania  Geese and guinea fowls  Stocks  1995  1000 Head   240.0
875  Albania  Geese and guinea fowls  Stocks  1996  1000 Head   244.0
876  Albania  Geese and guinea fowls  Stocks  1997  1000 Head   225.0
877  Albania  Geese and guinea fowls  Stocks  1998  1000 Head   205.0
878  Albania  Geese and guinea fowls  Stocks  1999  1000 Head   200.0
879  Albania  Geese and guinea fowls  Stocks  2000  1000 Head   250.0
880  Albania  Geese and guinea fowls  Stocks  2001  1000 Head   280.0
881  Albania  Geese and guinea fowls  Stocks  2002  1000 Head   275.0
882  Albania  Geese and guinea fowls  Stocks  2003  1000 Head   270.0
883  Albania  Geese and guinea fowls  Stocks  2004  1000 Head   352.0
884  Albania  Geese and guinea fowls  Stocks  2005  1000 Head   353.0